header{
    box-shadow:inset 0px 0px 2px black;
position: fixed;
left: 0;
right: 0;
}
main section{
    box-shadow: 0px 0px 15px rgb(123, 118, 118);
}
main{
    grid-template-columns: repeat(2,50%);
align-content: center;
justify-items: center;
}
form img{
    border-radius: 50%;
}
form{
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: center;
}
form input{
    width: 80%;
    outline: navy;
    border-radius: 20px;
    height: 30px;
text-align: center;
}
body{
    left: 0;
    right: 0;
}
#p{
color: red;
}
.p{
    color: green;
}
input[type='file']{
    background-image: url('image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top:2rem;
    padding-left: 14px;
    height: 120px;
    width: 120px;
    margin-right: rem;
    border-radius: 50%;
    background-color:blue;

}
.start img{
    border-radius: 50%;
    
}
.start{
    z-index:auto;
    left: 0;
    background-color: black;
    right: 0;
   opacity: 0.95;
   top: 0;
   bottom: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    font-weight: 900;
}
.menu{
z-index: 100;
opacity: 0.94;
display: none;

}
.close{
    right: 0;
    top: 0;
    color: white;
    z-index: 200;
position: absolute;
margin-right: 2rem;
font-size: 2rem;
}